params {
	
    pro_corr_lr_bam = ''
    pro_corr_lr_fq = ''

    pro_sr_bam = ''
    pro_sr_fq = ''

    pat_sr_bam = ''
    pat_sr_fq = ''

    mat_sr_bam = ''
    mat_sr_fq = ''

    out_dir = ''

    genome_size = -1

    max_lr_bq = 40

    pmdv_r07_model_r9_guppy5_sup_snp = ''
    pmdv_r07_model_r9_guppy5_sup_hp = ''
    pmdv_r07_model_r9_guppy5_sup_dv = ''
}

profiles {

	standard {

		process {

			executor = 'local'

			withLabel: medium_node {
				cpus = 24
				memory = { 4.GB * task.cpus * task.attempt }
			}

			withLabel: large_node {
				cpus = 24
				memory = { 4.GB * task.cpus * task.attempt }
			}
		}
	}

	cluster {

		process {

			executor = 'slurm'

            withLabel: small_node {
                cpus = 32
                memory = { 2.GB * task.cpus * task.attempt }
            }

			withLabel: medium_node {
				cpus = 32
				memory = { 4.GB * task.cpus * task.attempt }
			}

			withLabel: large_node {
				cpus = 64
				memory = { 6.GB * task.cpus * task.attempt }
			}
		}
	}
}

process {

	errorStrategy = { task.exitStatus in [104, 134, 137, 139, 140, 143, 188] ? 'retry' : 'terminate' }
	maxRetries = 2

    withName:varCall_ontR9_trainedModels {
        container = 'pepper_deepvariant_r0.7.sif'
        time = { 6.h * task.attempt }
    }

    withName:varCall_hifi {
        container = 'pepper_deepvariant_r0.8.sif'
        time = { 12.h * task.attempt }
    }

    withName:varPhase {
        container = 'pepper_deepvariant_r0.8.sif'
        time = { 3.h * task.attempt }
    }

    withName:var_CallFilterPhase {
        container = 'pepper_deepvariant_r0.8.sif'
        time = { 16.h * task.attempt }
    }

    withName:filterONT {
        container = 'Emblask_0.2.sif'
        time = { 6.h * task.attempt }
    }

    withName:extractIllumina_buildDBG {
        container = 'Emblask_0.2.sif'
        time = { 9.h * task.attempt }
    }

    withName:extractPairedIllumina {
        container = 'Emblask_0.2.sif'
        time = { 3.h * task.attempt }
    }

    withName:splitPairedIllumina {
        container = 'Emblask_0.2.sif'
        time = { 3.h * task.attempt }
    }

    withName:mapPairedIllumina {
        container = 'Emblask_0.2.sif'
        time = { 3.h * task.attempt }
    }

    withName:mergePairedIlluminaBAM {
        container = 'Emblask_0.2.sif'
        time = { 3.h * task.attempt }
    }

    withName:mixHapAsm {
        container = 'Emblask_0.2.sif'
        time = { 36.h * task.attempt }
    }

    withName:mapLRtoAsm {
        container = 'Emblask_0.2.sif'
        time = { 10.h * task.attempt }
    }

    withName:mixHapAsm_filter {
        container = 'Emblask_0.2.sif'
        time = { 1.h * task.attempt }
    }

    withName:prepLocalCorrection {
        container = 'Emblask_0.2.sif'
        time = { 2.h * task.attempt }
    }

    withName:localCorrection {
        container = 'Emblask_0.2.sif'
        time = { 2.h * task.attempt }
    }

    withName:mergeLocalCorrection {
        container = 'Emblask_0.2.sif'
        time = { 4.h * task.attempt }
    }

    withName:hapResAsm {
        container = 'Emblask_0.2.sif'
        time = { 48.h * task.attempt }
    }

    withName:hapResAsm_filter {
        container = 'Emblask_0.2.sif'
        time = { 6.h * task.attempt }
    }

    withName:hapResAsm_polish1_1 {
        container = 'Emblask_0.2.sif'
        time = { 12.h * task.attempt }
    }

    withName:hapResAsm_polish1_2 {
        container = 'Emblask_0.2.sif'
        time = { 12.h * task.attempt }
    }

    withName:hapResAsm_polish2 {
        container = 'Emblask_0.2.sif'
        time = { 18.h * task.attempt }
    }

    withName:hapResAsmPolish_phase_mapFilter {
        container = 'Emblask_0.2.sif'
        time = { 12.h * task.attempt }
    }

    withName:hapResAsmPolish_phase_varFilter {
        container = 'Emblask_0.2.sif'
        time = { 6.h * task.attempt }
    }

    withName:hapResAsmPolish_phase_varPhasedFilter {
        container = 'Emblask_0.2.sif'
        time = { 6.h * task.attempt }
    }

    withName:hapResAsmPolish_phase_selectBestPhasedAlignRec {
        container = 'Emblask_0.2.sif'
        time = { 1.h * task.attempt }
    }

    withName:hapResAsmPolish_polishAlt {
        container = 'Emblask_0.2.sif'
        time = { 9.h * task.attempt }
    }

    withName:hapResAsmPolish_trioBin {
        container = 'Emblask_0.2.sif'
        time = { 6.h * task.attempt }
    }

    withName:hapResAsmPolish_extractPhased {
        container = 'Emblask_0.2.sif'
        time = { 12.h * task.attempt }
    }

    withName:hapResAsmPolish_getCollapsedHom {
        container = 'Emblask_0.2.sif'
        time = { 9.h * task.attempt }
    }

    withName:hapResAsmPolish_dualAsm {
        container = 'Emblask_0.2.sif'
        time = { 24.h * task.attempt }
    }

    withName:hapResAsmPolish_polishDualAsm_1 {
        container = 'Emblask_0.2.sif'
        time = { 24.h * task.attempt }
    }

    withName:hapResAsmPolish_polishDualAsm_2 {
        container = 'Emblask_0.2.sif'
        time = { 1.h * task.attempt }
    }
    
    withName:hapResAsmPolish_polishDualAsm_3 {
        container = 'Emblask_0.2.sif'
        time = { 12.h * task.attempt }
    }
}

// If your Singularity installation does NOT support the user bind control feature ("auto mount"),
// you can manually provide one or more mounting point to the singularity installation by adding:
// runOptions = '-B <MOUNT_PATH_1> -B <MOUNT_PATH_2>'
// to the singularity scope of this config file

singularity {
	
	enabled = true
	autoMounts = true
	runOptions = '-B /usr/lib/locale/:/usr/lib/locale/ -B /nfs/:/nfs/ -B /odinn/:/odinn/'
	libraryDir = "${baseDir}/containers"
}

includeConfig 'config/python.config'
includeConfig 'config/tools.config'
includeConfig 'config/scripts.config'
includeConfig 'config/pipeline.config'
includeConfig 'config/pmdv.config'
