params {

    pipeline.min_len_read = 5000 // Minimum length of a long read
    pipeline.min_len_contig = 7000 // Minimum length of a contig. TODO = Compute this number dynamically, e.g N90 of reads
    pipeline.min_len_alignment = 3000 // Minimum length of a long read alignment
    pipeline.min_len_collapsed_segment = 1000 // Minimum length of collapsed segments to extract overlapping reads
    pipeline.min_mapq.lenient = 5 // Minimum mapping quality
    pipeline.min_mapq.strict = 20 // Strict minimum mapping quality
    pipeline.fastq_filter.min_baseq_ratio = 0.125 // Minimum quality of a base in a corrected long read. A ratio of 0.125 corresponds to 5 if max BQ is 40 or 11 f max BQ is 90
    pipeline.fastq_filter.ratio_low_baseq_window_filter = 0.9 // Ratio of low base quality in a window for splitting a read
    pipeline.fastq_filter.len_window_baseq_filter = 100 // Length of windows in which min. base quality ratio is computed for a corrected long read
    pipeline.ratio_cov.lower_bound.strict = 0.75 // Given a (mixed-haplotype assembly) coverage COV and a BAM file, regions with at least lower_bound_strict * COV reads are considered haplotype-collapsed
    pipeline.ratio_cov.upper_bound.strict = 1.25 // Given a (mixed-haplotype assembly) coverage COV and a BAM file, regions with at least upper_bound_strict * COV reads are considered haplotype-duplicated
    pipeline.ratio_cov.lower_bound.lenient = 0.50 // Same as lower_bound_strict but bounds are more open. Goal of this lower bound is to filter out extreme outliers of coverage.
    pipeline.ratio_cov.upper_bound.lenient = 1.50 // Same as upper_bound_strict but bounds are more open. Goal of this lower bound is to filter out extreme outliers of coverage.
    pipeline.variant_filter.min_vaf = 0.3 // Minimum Variant Allele Frequency for heterozygous variants
    pipeline.variant_filter.max_vaf = 0.7 // Maximum Variant Allele Frequency for heterozygous variants
    pipeline.variant_filter.min_gq = 20 // Minimum Genotype Quality of variants
    pipeline.variant_filter.min_depth = 5 // Minimum depth for filtering out extreme contig/haplotig outliers
    pipeline.variant_filter.min_ad = 5 // Minimum allele depth for filtering out low quality variants
    pipeline.assembly.max_error_rate.lenient = 0.05 // Maximum error rate, used for first mixed-haplotype assembly and extreme outliers filtering
    pipeline.assembly.max_error_rate.strict = 0.001 // Maximum error rate for haplotype-resolved assemblies
    pipeline.assembly.subsampling_cov = 50 // Subsampling coverage if genome size provided in input
    pipeline.samtools.depth.filter_sec = 1796 // Samtools mask for secondary alignments in addition to unmapped, PCR/optical duplicates and sequencer quality checks
    pipeline.samtools.depth.filter_supp_sec = 3844 // Samtools mask for secondary and supplementary alignments in addition to unmapped, PCR/optical duplicates and sequencer quality checks
    pipeline.correction.job_len_region = 2000000 // Length of regions that each local correction job should process
}
