params {
	
	pmdv.r07.models.snp = "pmdv/r07/models/ratatosk_r9_guppy5_sup/R9_GUPPY5_SUP_PEPPER_SNP.pkl"
	pmdv.r07.models.hp = "pmdv/r07/models/ratatosk_r9_guppy5_sup/R9_GUPPY5_SUP_PEPPER_HP.pkl"
	pmdv.r07.models.dv = "pmdv/r07/models/ratatosk_r9_guppy5_sup/R9_GUPPY5_SUP_DEEPVARIANT"
	pmdv.r08.margin.config = "pmdv/r08/margin/config/allParams.haplotag.ont-r94g507.json"
}