params {

    python.script.filter_fastq = ''
    python.script.get_phase_cov = ''
    python.script.get_no_overlap_contigs = ''
    python.script.extract_ref_reads = ''
    python.script.extract_reads = ''
    python.script.extract_reads_within = ''
    python.script.filter_align = ''
    python.script.get_ps_info = ''
    python.script.detect_hap_collide = ''
    python.script.phased_supp2prim = ''
    python.script.find_coll_hom = ''
    python.script.polish_snp = ''
    python.script.bin_ambiguous = ''
}
